<div id="taxonomy-term-{{ term.tid }}" class="{{ classes }}">
  {% if page == false %}
    <h2><a href="{{ term_url }}">{{ term_name }}</a></h2>
  {% endif %}
  <div class="content">
    {{ content }}
  </div>
</div>
